<p>Bài trước mình đã giới thiệu về <code>Eloquent</code> trong Laravel 5 và ứng dụng <code>Eloquent</code> làm trang quản trị website tin tức. Bài hôm nay chúng ta sẽ đi tìm hiểu về <code> Auth</code> trong Laravel 5 và ứng dụng nó để viết trang login.</p>
<p><strong>Mục Lục:</strong></p>
<div id="category_list">
    <ul>
        <li><a id = "category_01_link" href="#">Authentication là gì?</a></li>
        <li><a id = "category_02_link" href="#">Authentication trong Laravel</a></li>
        <li><a id = "category_03_link" href="#">Tạo Auth Trong Laravel</a></li>
        <li><a id = "category_04_link" href="#">Tạo Trang Login cho Dự án website tin tức</a></li>
    </ul>
</div>
<div id="category_01">
    <p><strong>1. Authentication là gì?</strong></p>
    <p>Xác thực để nhận dạng (identity) người dùng. Trong suốt quá trình thực hiện Username và password luôn được kiểm tra trong hệ thống đảm bảo người dùng đó luôn được thực hiện đúng với quyền của mình.</p>
    <p>Xác định và xác nhận là cách dễ dàng để phân biệt mỗi người với nhau. Đối với con người chúng ta có thể phân biệt bạn bè của mình thông qua khuôn mặt hay giọng nói của họ. Đối với máy tính khó thì rất khó khăn để nó có thể xác định được ai đang ngồi trước nó, hoặc truy cập từ xa nếu không có cơ chế xác nhận và xác thực rõ ràng.</p>
    <p><strong>Xác thực bằng Password: </strong></p>
    <p>Đây có lẽ là hình thức được sử dụng lâu đời nhất và phổ biến nhất trong các hệ thống máy tính.</p>
    <p>Người dùng nhập vào tên tài khoản và password tường ứng, có thể được thử nhiều lần trong trường hợp có lỗi xảy ra.</p>
    <p>Trích dẫn: Nguy cơ về an ninh thông tin từ hệ điều hành - tuhocanninhmang.com</p>
</div>
<div id="category_02">
    <p><strong>2. Authentication trong Laravel</strong></p>
    <p><code>Authentication</code> trong Laravel được định nghĩa trong file <code>config/auth.php</code></p>
    <pre class="brush: php">
        return [

            /*
            |--------------------------------------------------------------------------
            | Authentication Defaults
            |--------------------------------------------------------------------------
            |
            | This option controls the default authentication "guard" and password
            | reset options for your application. You may change these defaults
            | as required, but they're a perfect start for most applications.
            |
            */

            'defaults' => [
                'guard' => 'web',
                'passwords' => 'users',
            ],

            /*
            |--------------------------------------------------------------------------
            | Authentication Guards
            |--------------------------------------------------------------------------
            |
            | Next, you may define every authentication guard for your application.
            | Of course, a great default configuration has been defined for you
            | here which uses session storage and the Eloquent user provider.
            |
            | All authentication drivers have a user provider. This defines how the
            | users are actually retrieved out of your database or other storage
            | mechanisms used by this application to persist your user's data.
            |
            | Supported: "session", "token"
            |
            */

            'guards' => [
                'web' => [
                    'driver' => 'session',
                    'provider' => 'users',
                ],

                'api' => [
                    'driver' => 'token',
                    'provider' => 'users',
                ],
            ],

            /*
            |--------------------------------------------------------------------------
            | User Providers
            |--------------------------------------------------------------------------
            |
            | All authentication drivers have a user provider. This defines how the
            | users are actually retrieved out of your database or other storage
            | mechanisms used by this application to persist your user's data.
            |
            | If you have multiple user tables or models you may configure multiple
            | sources which represent each model / table. These sources may then
            | be assigned to any extra authentication guards you have defined.
            |
            | Supported: "database", "eloquent"
            |
            */

            'providers' => [
                'users' => [
                    'driver' => 'eloquent',
                    'model' => App\User::class,
                ],

                // 'users' => [
                //     'driver' => 'database',
                //     'table' => 'users',
                // ],
            ],

            /*
            |--------------------------------------------------------------------------
            | Resetting Passwords
            |--------------------------------------------------------------------------
            |
            | You may specify multiple password reset configurations if you have more
            | than one user table or model in the application and you want to have
            | separate password reset settings based on the specific user types.
            |
            | The expire time is the number of minutes that the reset token should be
            | considered valid. This security feature keeps tokens short-lived so
            | they have less time to be guessed. You may change this as needed.
            |
            */

            'passwords' => [
                'users' => [
                    'provider' => 'users',
                    'table' => 'password_resets',
                    'expire' => 60,
                ],
            ],

        ];
    </pre>
    <p>Mình đang viết bài này trên phiên bản 5.4 nên sẽ có sự khác biệt so với các phiên bản khác</p>
    <p>Ở đây bạn chủ yếu quan tâm thèn <code>providers</code></p>
    <pre class="brush: php">
        'providers' => [
            'users' => [
                'driver' => 'eloquent',
                'model' => App\User::class,
            ],
    </pre>
    <ul>
        <li><strong>Driver</strong>:  Đây là thiết lập xác định phương thức lấy thông tin người dùng để xác thực, và như các bạn thấy thì  mặc định nó sẽ sử dụng eloquent, tuy nhiên còn một sự lựa chọn khác là database và thậm trí bạn cũng có thể tạo thêm một driver của riêng bạn( sẽ nói ở phần nâng cao). Đối với series cơ bản này thì mình khuyên các bạn nên dữ nguyên.</li>
        <li><strong>Model</strong>: Đây là thiết lập nguồn dữ liệu lấy ra từ đâu. Ở đây mặc định Laravel chọn là moder User (local: App\User.php). Thông số này bạn có thể chỉnh thành name model của bạn.</li>
    </ul>
</div>
<div id="category_03">
    <p><strong>3. Tạo Auth Trong Laravel</strong></p>
    <p><strong>Cú pháp tạo <code>Auth</code> trong Laravel</strong></p>
    <pre class="brush: php">
        $ php artisan make:auth
    </pre>
    <p>Sau khi chạy lệnh này lên thì Laravel sẽ thêm cho chúng ta một <code>HomeController</code>, một <code>sub-view</code> <code>auth</code></p>
    <p>Laravel tạo cho ta chức năng login: http://localhost/blog/public/login</p>
    <p><img alt="" src="http://laedaily.com/laravel-filemanager/photos/1/laravel/bai12/1.jpg"></p>
    <p>Laravel tạo cho ta chức năng register: http://localhost/blog/public/register</p>
    <p><img alt="" src="http://laedaily.com/laravel-filemanager/photos/1/laravel/bai12/2.jpg"></p>
</div>
<div id="category_04">
    <p><strong>4. Tạo Trang Login cho Dự án website tin tức</strong></p>
    <p>Ở đây mình sẽ làm thủ công không sử dụng <code>artisan</code> như trên</p>
    <p>tạo view login: <code>resources/views/admin/login.blade.php</code></p>
    <pre class="brush: php">
        <div class="login-box">
            <div class="login-logo">
                <a href="admin/login"><b>tintuc</b>.com</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in</p>

                <form action="administrator/login" method="post">
                    {{ csrf_field() }}
                    <div class="form-group has-feedback {{ $errors->has('txtUsername') ? ' has-error' : '' }}">
                        <input type="text" id="txtUsername" name="txtUsername" class="form-control" placeholder="Nhập vào username"
                               value="{{ old('txtUsername') }}" required autofocus>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        @if ($errors->has('txtUsername'))
                            <span class="help-block">
                      <strong>{{ $errors->first('txtUsername') }}</strong>
                  </span>
                        @endif
                    </div>
                    <div class="form-group has-feedback {{ $errors->has('txtPassword') ? ' has-error' : '' }}">
                        <input type="password" id="txtPassword" name="txtPassword" class="form-control"
                               placeholder="Nhập vào password" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        @if ($errors->has('txtPassword'))
                            <span class="help-block">
                      <strong>{{ $errors->first('txtPassword') }}</strong>
                  </span>
                        @endif
                    </div>
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-box-body -->
        </div>
    </pre>
    <p>Tạo route và controller</p>
    <pre class="brush: php">
        Route::get('administrator/login', ['as' => 'getLogin', 'uses' => 'Admin\CheckUserController@getLogin']);
        Route::get('administrator/logout', ['as' => 'getLogout', 'uses' => 'Admin\CheckUserController@getLogout']);
        Route::post('administrator/login', ['as' => 'postLogin', 'uses' => 'Admin\CheckUserController@postLogin']);
    </pre>
    <pre class="brush: php">
        $ php artisan make:controller Admin\CheckUserController
    </pre>
    <pre class="brush: php">
        use Illuminate\Http\Request;
        use Auth;
        use App\Http\Controllers\Controller;

        class CheckUserController extends Controller
        {
            public function getLogin() {
                return view('admin.login');
            }

            public function postLogin(Request $request) {
                if(Auth::attempt(['username' => $request->txtUsername, 'password' => $request->txtPassword])) {
                    return redirect('administrator/index');
                }else {
                    return view('admin.login');
                }
            }

            public function logout() {
                Auth::logout();
                return view('admin.login');
            }
        }
    </pre>
    <p>Test nào: http://localhost/tintuc/public/administrator/login</p>
    <p><img alt="" src="http://laedaily.com/laravel-filemanager/photos/1/laravel/bai12/3.jpg"></p>
    <p>Nhập thông tin user mình tạo ở bài trước vào test tiếp nào</p>
    <p><img alt="" src="http://laedaily.com/laravel-filemanager/photos/1/laravel/bai12/4.jpg"></p>
    <p>Ô Hên thế ah!!!</p>
</div>
<p>Trong bài này mình đã giới thiệu về <code>Auth</code> trong Laravel 5 và tạo trang login cho dự án website tin tức. Trong series bài viết tiếp theo mình sẽ hướng dẫn các bạn về <code>Middleware</code> trong Laravel 5 và ứng dụng nó trong dự án website tin tức. Bài viết trên là những hiểu biết của cá nhân mình nên không tránh phải sai sót, rất mong sự đóng góp ý kiến của các bạn để bài viết trở nên hữu ích hơn.</p>